.all {
    padding: 10px;
    color: DeepSkyBlue;
}
.ava {
    width: 80px;
    height: 80px;
}
.selectedPage {
    font-weight: bold;
    color: cyan;
    margin: 2px;
}

.usersPage {
    padding: 5px;
}
.spanPage {
    display: flex;
    flex-wrap: wrap;
    width: auto;

}
.users {
    display: flex;
    justify-content: center;
    border: 1px solid Cyan;

}
span {
    size: 100px;
}