.ava {
    width: 80px;
    height: 80px;
}

.all {
    padding: 10px;
    color: DeepSkyBlue
}

.selectedPage {
    font-weight: bold;
    color: cyan;
    margin: 2px;
}

.usersPage {
    padding: 5px;

}
.spanPage {
    margin: 3px;
}