.header {
    margin-bottom: 5px;
    display: flex;
    height: 80px;
}

.header img {
    height: 100%;
    width: 100%;
    object-fit:fill;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
