.nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: DimGrey;
    border-radius: 25px;
    border:1px solid Cyan;
}
.item {
    color: #00BFFF;
    padding: 10px 0px;
    text-align: center;
    font-size: 15px;
}
.item a{
    text-decoration: none;
}
.item a.activeLink {
    color: Cyan;
}