.app-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    right: 100%;
    left: 100%;
    color: Cyan;
    margin: 0 100px;
}

.navbar {
    padding-right: 5px;
}

.NavAndDisp {
    display: flex;
}

.display {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-shrink: revert;
    margin-right: 5px;
    background-color: DimGrey;
    border: 1px solid Cyan;
    border-radius: 25px;
}

.all {
    background-color: #191919;
    min-height: 100vh;
}

button {
    border-radius: 10px;
}